### Tuples

Tuple is ismilar to list

Difference is that Tuples are immutable

Whereas lists can be changed

#### Tuple Creation

In [2]:
#creating an empty tuple
t=()
print(t)


t=(1,2,3)
print(t)

t=(1,"two",3,4.0)

t=((1,2,3),("one","two","three"),(1,2.0,"three"))
# what is this type of tuple
print(t)

()
(1, 2, 3)
((1, 2, 3), ('one', 'two', 'three'), (1, 2.0, 'three'))

In [3]:
# tuple with single element
t=(12)
print(t)
#type(t)

12

In [4]:
t=(12,)
print(t)
#type(t)

(12,)

In [5]:
t=12
print(t)

12

In [6]:
t=12,
print(t)

(12,)

In [7]:
t=12,15
print(t)

(12, 15)

#### Accessing Elements in a tuple

In [12]:
t=("one","two","three","four")

In [13]:
print(t[1])

two

In [14]:
print(t[-1])

four

#### Nested Tuples

In [15]:
t=('1',('one','two'))

In [16]:
print(t[1][1])

two

#### Slicing of tuple

Similar to list

In [24]:
t=(1,2,3,4,5,6)

In [25]:
#print the last element of the tuple

#print the first element of the tuple

#print the last 4 elements of the tuple

#### Modifying a tuple

In [29]:
t=(1,2,["three","five"])

In [30]:
t[0]=0

TypeError: 'tuple' object does not support item assignment

In [31]:
t[2][1]="four"

In [32]:
print(t)

(1, 2, ['three', 'four'])

In [ ]:
#what is the inference then?

In [33]:
t

(1, 2, ['three', 'four'])

#### joining tuples

In [47]:
t=(1,2,3)+("four","five","six")
print(t)

In [49]:
t=("five",)*5
print(t)

#### Deleting in Tuples

In [54]:
# we can only remove the entire tuple
t=(1,2,3,4,5)

print(t)

(1, 2, 3, 4, 5)

In [56]:
del t

In [57]:
print(t)

NameError: name 't' is not defined

#### Tuple membership

In [62]:
t = (1,2,3,4,5,6)
print(1 in t)
print(9 in t)

True
False

#### Get the max element, minimum element and the sum of all elements

In [68]:
t=(9,8,12,32)
print(max(t))
print(min(t))
print(sum(t))

32
8
61

#### Count the frequency of an element in a tuple

In [63]:
t=(1,3,2,4,5,1,2)
print(t.count(1))

2

#### Index
Get the first index of the first occurence of an element

In [64]:
t=(1,3,2,4,5,1,2)
print(t.index(1))

0

#### Sort a tuple

In [66]:
t=(4,12,1,2,99)
sorted_t=sorted(t)
print(sorted_t)

[1, 2, 4, 12, 99]