### Topics Covered
Why Learn Python

Keywords

Identifiers

Comments

Indentation

Statements

Variables

Data Types

Standard I/O

Operators

#### Why Python

1. Extremely easy to learn
2. Great packages for AI like matplotlib, numpy, scipy, scikit-learn, tensorflow
3. IPython Notebooks for interactive data analysis & modeling
4. Extensively used in the industry

#### Keywords

Reserved words in Python
Cannot use them for variable names, function names or any other identifiers
Keywords are case sensitive

In [1]:
#Get all keywords in python 3.6

import keyword 
# remember #include<stdio.h>

print(keyword.kwlist)
print("\nTotal number of keywords", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of keywords 33

#### Identifiers

Names given to entities like classes, functions, variables etc in Python.
can be a combination of letters in lowercase(a - z) or uppercase(A-Z) or digits(0-9) or underscore
Cannot use special symbols like !, @, #, $, % etc

In [ ]:
212_aaa=123
if=2

#### Comments

In [ ]:
# following line of code prints a line to console
print("This is a line")

#### Multi line Comments

In [ ]:
#this is a 
# multi line
# comment

Better still, use """ or '''

In [ ]:
"""multi line 
comment 
using double quotes"""

In [ ]:
'''this multi line has
single quotes'''

#### Indentation

In [ ]:
for i in range(10):
    print(i)
#     print(i*2)
#  print(10)

##### Code readability

In [ ]:
if True:
    print("Machine Learning")
    where="PSF"

In [ ]:
if True: print("Machine Learning"); where = "PSF"

#### Python statement

Commands that will be executed by Python Interpreter

In [ ]:
value = 1

#### Multi line statement

In [ ]:
value = 10 + 11 \
        +12 - 2 \
        -10

In [ ]:
print(value)

In [ ]:
#another method is to use paranthesis ()
value=(21+19+10
      +12+13)

In [ ]:
print(value)

In [ ]:
#multiple statements in a single line
val=12;x=10;y=9;z=8

In [ ]:
print(val,x,y,z)

### Variables

1. Location in memeory to store data
2. Variable names follow same rules as identifiers
3. No need to declare variable

#### Multiple assignments

In [ ]:
a,b,c="hello",21,2.4

In [ ]:
print(a,b,c)

In [ ]:
a=b=c="PSF"

In [ ]:
print(a,b,c)

#### Location of storage

In [ ]:
val=21
print(id(val))

In [ ]:
val2=21
print(id(val2))

In [ ]:
val2=22
print(id(val2))

In [ ]:
#is operator
val is val2

#### Data Types

Every variable in Python has a datatype
Every thing in Python is an object

In [ ]:
a = 50
print(a,"is of type ",type(a))

In [ ]:
a=5.5
print(a,"is of type ",type(a))

In [ ]:
a=3+4j
print(a,"is of type ",type(a))

#### Boolean

In [ ]:
a=True
print(type(a))

### Python Strings

Sequence of Unicode characters, not ASCII

Can use single quotes or double quotes to represent string

Multi line strings can be denoted using triple quotes like """ and '''

String is a sequence of characters - letters, numbers and special characters

First character of string is indexed at 0

In [ ]:
s = "This is skill development course"
print(s)
print(type(s))

In [ ]:
s = 'This is skill development course'
print(s)
print(type(s))

In [ ]:
print(s[0])

In [ ]:
s="""I wish this class got more
interesting
"""
print(s)
print(type(s))

In [ ]:
print(s[0])

In [ ]:
#what if i want to print the lsat character, 2nd last character etc

In [ ]:
#slicing
#print the characters from 5th index till 10th index

### List

Something that makes life so easy

List is an ordered sequence of items.

List can have elements of different types

In [ ]:
a=["start",21,21.9,3+4j]
print(a)

In [ ]:
print(a[1])

In [ ]:
print(type(a))

Any element within the list can be modified

Hence a list is mutable

In [ ]:
a[2]=99
print(a)

### Tuple
Differences between list and tuple

Tuple is an ordered sequence of items same as list.

Tuples are immutable

Tuples once created, cannot be modified

In [ ]:
tup=(21,5-3j,"hello")

In [ ]:
print(tup)
print(tup[1])

In [ ]:
tup[2]="Bye"

### Python Set

Set is an unordered collection of unique items.

Set is defined by comma separated elements within curly braces.

Items in a set are unordered

In [ ]:
set_a={12,21,"Hello",4+3j,12,21}

In [ ]:
print(set_a)

In [ ]:
print(set_a[2])

### Python Dictionary

Unordered collection of key-value pairs

Defined within curly braces {} with each item in the form of a key-value pair

In [ ]:
dict_student={'name':"Andrew","major":"CS","score":130}

In [ ]:
print(dict_student["name"])

In [ ]:
print(dict_student["phone"])

### Conversion of Data Types

In [ ]:
float(50)

In [ ]:
int(99.6)

In [ ]:
str(29)

In [ ]:
int('10p')

In [ ]:
print(dict_student)

In [ ]:
print("hello "+dict_student['name']+". Congratulations on scoring "+str(dict_student['score']))

#### Convert one sequence to another

In [ ]:
a=[1,2,3]
print(type(a))
s=set(a)
print(type(s))

In [ ]:
hello_string="hello"
print(hello_string)

list_hello=list(hello_string)
print(list_hello)

### Python Input and Output

#### Python output

In [ ]:
a=11
print("The value of a is ",a)
print("the value of a is "+a)

#### Output formatting

In [ ]:
val=41
str_val="garfield"
print("{} is {} years old".format(str_val,val))

In [ ]:
print("{} is {} years old".format(val,str_val))

In [ ]:
print("{1} is {0} years old".format(val,str_val))

In [ ]:
#how about keyword arguments to format the string
print("The character {name} is {age} years old".format(name="Garfield",age="42"))

In [ ]:
#now combine positional with keyword arguments
print("The show {show_name} is about a {0} and his {1}".format('cat','master',show_name="Garfield"))

#### Python Input
the input() function to take input feom user

In [ ]:
num= input("Enter a number")
# print(num)

In [ ]:
print(num)

### Operators
Carry out logical and arithmetic operations
Operator and operands
#### Types of Operators

1. Arithmetic
2. Relational(Comparison)
3. Boolean(Logical)
4. Bitwise 
5. Assignment
6. Special

#### Arithmetic operators
+, -, *, /, %, //, ** are arithmetic operators

In [ ]:
x,y=30,12

print(x + y)

#### Comparison Operators
Used to compare values
<, >, ==, !=, >=, >=

In [ ]:
a,b=10,21
print(a>b)

#### Logical operators
and, or, not operators

In [ ]:
a,b=True,False
print(a and b)
print(a or b)
print(not b)

#### Bitwise operators

Act on operands as if they are strings of bindary digits

Important to know the binray representation

Operators are &, | , ~, ^, >>, <<

AND, OR, NOT, XOR, RightShift, LeftShift

In [ ]:
a,b=11,3
print(a&b)

#### Assignment operators

 =, +=, -=, *=, /=, //=,  
***=, &=, |=, ^=, >>=, <<=

In [ ]:
a=2
a+=2
print(a)
a%=2
print(a)

#### Special Operators

Identity Operators

is and is not are the identity operators

check if two values or variables are located in the same part of memory

In [ ]:
a=5
b=5

In [ ]:
print(a is b)

In [ ]:
l1=[21,12,13]
l2=[21,12,13]

In [ ]:
print(l1 is l2)

In [ ]:
str1="PSF"
str2="PSF"
print(str1 is str2)

#### Membership operator

In [ ]:
lis=[1,3,5,7]
print(1 in lis)

In [ ]:
di={'a':1,'b':2}
print('a' in di)
print(1 in di)

#### if else

In [ ]:
num=-10
if num>0:
    print("positive")
else:
    print("negative")

 #### if... elif.. else

In [ ]:
val=-10
if val>0:
    print("Positive")
elif val2==0:
    print("0")
else:
    print("Negative number")

#### Nested If

In [ ]:
val1=20
if val>=0:
    if val == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Ngeative")

#### Simple example find largeset among three numbers