### Topics Covered
Why Learn Python

Keywords

Identifiers

Comments

Indentation

Statements

Variables

Data Types

Standard I/O

Operators

#### Why Python

1. Extremely easy to learn
2. Great packages for AI like matplotlib, numpy, scipy, scikit-learn, tensorflow
3. IPython Notebooks for interactive data analysis & modeling
4. Extensively used in the industry

#### Keywords

Reserved words in Python
Cannot use them for variable names, function names or any other identifiers
Keywords are case sensitive

In [2]:
#Get all keywords in python 3.6

import keyword 
# remember #include<stdio.h>

print(keyword.kwlist)
print("\nTotal number of keywords", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of keywords 33

#### Identifiers

Names given to entities like classes, functions, variables etc in Python.
can be a combination of letters in lowercase(a - z) or uppercase(A-Z) or digits(0-9) or underscore
Cannot use special symbols like !, @, #, $, % etc

In [4]:
212_aaa=123

SyntaxError: invalid token (<ipython-input-4-72cf3b308206>, line 1)

#### Comments

In [6]:
# following line of code prints a line to console
print("This is a line")

This is a line

#### Multi line Comments

In [7]:
#this is a 
# multi line
# comment

Better still, use """ or '''

In [8]:
"""multi line 
comment 
using double quotes"""

'multi line \ncomment \nusing double quotes'

In [9]:
'''this multi line has
single quotes'''

'this multi line has\nsingle quotes'

#### Indentation

In [13]:
for i in range(10):
    print(i)
    print(i*2)
print(10)

0
0
1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18
10

##### Code readability

In [14]:
if True:
    print("Machine Learning")
    where="PSF"

Machine Learning

In [15]:
if True: print("Machine Learning"); where = "PSF"

Machine Learning

#### Python statement

Commands that will be executed by Python Interpreter

In [16]:
value = 1

#### Multi line statement

In [17]:
value = 10 + 11 \
        +12 - 2 \
        -10

In [18]:
print(value)

21

In [19]:
#another method is to use paranthesis ()
value=(21+19+10
      +12+13)

In [20]:
print(value)

75

In [21]:
#multiple statements in a single line
val=12;x=10;y=9;z=8

In [22]:
print(val,x,y,z)

12 10 9 8

### Variables

1. Location in memeory to store data
2. Variable names follow same rules as identifiers
3. No need to declare variable

#### Multiple assignments

In [23]:
a,b,c="hello",21,2.4

In [24]:
print(a,b,c)

hello 21 2.4

In [25]:
a=b=c="PSF"

In [26]:
print(a,b,c)

PSF PSF PSF

#### Location of storage

In [27]:
val=21
print(id(val))

4304956416

In [28]:
val2=21
print(id(val2))

4304956416

In [29]:
val2=22
print(id(val2))

4304956448

In [30]:
#is operator
val is val2

False

#### Data Types

Every variable in Python has a datatype
Every thing in Python is an object

In [31]:
a = 50
print(a,"is of type ",type(a))

50 is of type  <class 'int'>

In [32]:
a=5.5
print(a,"is of type ",type(a))

5.5 is of type  <class 'float'>

In [33]:
a=3+4j
print(a,"is of type ",type(a))

(3+4j) is of type  <class 'complex'>

#### Boolean

In [34]:
a=True
print(type(a))

<class 'bool'>

### Python Strings

Sequence of Unicode characters, not ASCII

Can use single quotes or double quotes to represent string

Multi line strings can be denoted using triple quotes like """ and '''

String is a sequence of characters - letters, numbers and special characters

First character of string is indexed at 0

In [35]:
s = "This is skill development course"
print(s)
print(type(s))

This is skill development course
<class 'str'>

In [36]:
s = 'This is skill development course'
print(s)
print(type(s))

This is skill development course
<class 'str'>

In [37]:
print(s[0])

T

In [49]:
s="""I wish this class got more
interesting
"""
print(s)
print(type(s))

I wish this class got more
interesting

<class 'str'>

In [52]:
print("char")
print(s[-1])
print("here")

char


here

In [48]:
#what if i want to print the last character, 2nd last character etc

s='this is a line'
print(s[-1])

e

In [59]:
#slicing
#print the characters from 5th index till 10th index
line="12345678909876"
# print(line[5:10])
print(line[::3])

14707

### List

Something that makes life so easy

List is an ordered sequence of items.

List can have elements of different types

In [60]:
a=["start",21,21.9,3+4j]
print(a)

['start', 21, 21.9, (3+4j)]

In [61]:
print(a[1])

21

In [62]:
print(type(a))

<class 'list'>

Any element within the list can be modified

Hence a list is mutable

In [63]:
a[2]=99
print(a)

['start', 21, 99, (3+4j)]

### Tuple
Differences between list and tuple

Tuple is an ordered sequence of items same as list.

Tuples are immutable

Tuples once created, cannot be modified

In [64]:
tup=(21,5-3j,"hello")

In [65]:
print(tup)
print(tup[1])

(21, (5-3j), 'hello')
(5-3j)

In [66]:
tup[2]="Bye"

TypeError: 'tuple' object does not support item assignment

### Python Set

Set is an unordered collection of unique items.

Set is defined by comma separated elements within curly braces.

Items in a set are unordered

In [67]:
set_a={12,21,"Hello",4+3j,12,21}

In [68]:
print(set_a)

{(4+3j), 12, 21, 'Hello'}

In [69]:
print(set_a[2])

TypeError: 'set' object does not support indexing

In [80]:
set_a[0]="kas"

TypeError: 'set' object does not support item assignment

### Python Dictionary

Unordered collection of key-value pairs

Defined within curly braces {} with each item in the form of a key-value pair

In [88]:
dict_student={'name':"Andrew","major":"CS","score":130,'phone':'887766554','addr':'tolich'}

In [79]:
print(dict_student["addr"])

tolich

In [91]:
dict_student["phone"]="1234567"

In [92]:
print(dict_student)

{'name': 'Andrew', 'major': 'CS', 'score': 130, 'phone': '1234567', 'addr': 'tolich'}

In [83]:
dict_student["name"]="psf"

In [84]:
print(dict_student)

{'name': 'psf', 'major': 'CS', 'score': 130, 'phone': '12345', 'addr': 'tolich'}

### Conversion of Data Types

In [93]:
float(50)

50.0

In [94]:
int(99.6)

99

In [95]:
str(29)

'29'

In [97]:
int('10')

10

In [98]:
print(dict_student)

{'name': 'Andrew', 'major': 'CS', 'score': 130, 'phone': '1234567', 'addr': 'tolich'}

In [99]:
print("hello "+dict_student['name']+". Congratulations on scoring "+str(dict_student['score']))

hello Andrew. Congratulations on scoring 130

#### Convert one sequence to another

In [100]:
a=[1,2,3]
print(type(a))
s=set(a)
print(type(s))

<class 'list'>
<class 'set'>

In [101]:
hello_string="hello"
print(hello_string)

list_hello=list(hello_string)
print(list_hello)

hello
['h', 'e', 'l', 'l', 'o']

### Python Input and Output

#### Python output

In [103]:
a=11
print("The value of a is ",a)
print("the value of a is "+str(a))

The value of a is  11
the value of a is 11

#### Output formatting

In [104]:
val=41
str_val="garfield"
print("{} is {} years old".format(str_val,val))

garfield is 41 years old

In [105]:
print("{} is {} years old".format(val,str_val))

41 is garfield years old

In [106]:
print("{1} is {0} years old".format(val,str_val))

garfield is 41 years old

In [107]:
#how about keyword arguments to format the string
print("The character {name} is {age} years old".format(age="42",name="Garfield"))

The character Garfield is 42 years old

In [109]:
#now combine positional with keyword arguments
print("The show {show_name} is about a {0} and his {1}".format('cat','master',show_name="Garfield"))

The show Garfield is about a cat and his master

#### Python Input
the input() function to take input feom user

In [113]:
num= input("Enter a number")
print(num)

Enter a number213
213

In [114]:
print(num)

213

### Operators
Carry out logical and arithmetic operations
Operator and operands
#### Types of Operators

1. Arithmetic
2. Relational(Comparison)
3. Boolean(Logical)
4. Bitwise 
5. Assignment
6. Special

#### Arithmetic operators
+, -, *, /, %, //, ** are arithmetic operators

In [115]:
x,y=30,12

print(x + y)

42

#### Comparison Operators
Used to compare values
<, >, ==, !=, >=, >=

In [116]:
a,b=10,21
print(a>b)

False

#### Logical operators
and, or, not operators

In [117]:
a,b=True,False
print(a and b)
print(a or b)
print(not b)

False
True
True

#### Bitwise operators

Act on operands as if they are strings of bindary digits

Important to know the binray representation

Operators are &, | , ~, ^, >>, <<

AND, OR, NOT, XOR, RightShift, LeftShift

In [120]:
a,b=11,12
print(a|b)

15

#### Assignment operators

 =, +=, -=, *=, /=, //=,  
***=, &=, |=, ^=, >>=, <<=

In [121]:
a=2
a+=2
print(a)
a%=2
print(a)

4
0

#### Special Operators

Identity Operators

is and is not are the identity operators

check if two values or variables are located in the same part of memory

In [124]:
a=5
b=15

In [125]:
print(a is b)

False

In [126]:
l1=[21,12,13]
l2=[21,12,13]

In [127]:
print(l1 is l2)

False

In [128]:
str1="PSF"
str2="PSF"
print(str1 is str2)

True

#### Membership operator

In [134]:
set_A={1,3,5,7,1}
print(set_A)
print(90 in lis)

{1, 3, 5, 7}
False

In [135]:
di={'a':1,'b':2}
print('a' in di)
print(1 in di)

True
False

#### if else

In [136]:
num=-10
if num>0:
    print("positive")
else:
    print("negative")

negative

 #### if... elif.. else

In [139]:
val=0
if val>0:
    print("Positive")
elif val==0:
    print("0")
else:
    print("Negative number")

0

#### Nested If

In [140]:
val1=20
if val>=0:
    if val == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Negative")

Zero

In [1]:
N=5

In [2]:
if N%2==1:
    print("W")
else:
    if N>=2 and N<=5:
        print("...")
    elif N>=6 and N<=20:
            print("...")
    elif N>20:
        print("...")

W

#### Simple example find largeset among three numbers

In [ ]:
num1=12
num2=21
num3=31